# Copyright (c) 2026 Veritas Aequitas Holdings LLC. All rights reserved.
{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "malwar.serviceAccountName" . }}
  labels:
    {{- include "malwar.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: false
{{- end }}
